<div class="step_data_container">
  <div class="icon-circle">
    <article class="icon_circle__number">1</article>
  </div>
  <div class="step__text">
    <h3 class="step__header">Create New Profile</h3>
    <p class="step__discription">
      Now, take the next step and become a member. First, create a free profile
      and tell us a little about yourself and what you're looking for in a
      partner and relationship. Members can post photos, chat and send winks all
      for free. Winks are the perfect way to break the ice with someone who's
      caught your attention.
    </p>
  </div>
</div>
